<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Add customer</h1>

    <div class="form-group row">
        <label for="firstName" class="col-4 col-form-label">First Name</label>
        <div class="col-8">
            <input id="firstName" name="firstName" placeholder="Enter your first name here" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-4 col-form-label">Last Name</label>
        <div class="col-8">
            <input id="lastName" name="lastName" placeholder="Enter your last name here" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="address" class="col-4 col-form-label">Address</label>
        <div class="col-8">
            <input id="address" name="address" placeholder="Enter your first address" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="gender" class="col-4 col-form-label">Gender</label>
        <div class="col-8">
            <select id="gender" name="gender" class="custom-select">
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
                <option value="OTHER">OTHER</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4">Active</label>
        <div class="col-8">
            <div class="custom-control custom-radio custom-control-inline">
                <input name="active" id="active_0" type="radio" class="custom-control-input" value="1" required="required">
                <label for="active_0" class="custom-control-label">YES</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input name="active" id="active_1" type="radio" class="custom-control-input" value="0" required="required">
                <label for="active_1" class="custom-control-label">NO</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button id="submit" class="btn btn-primary">Add customer</button>
        </div>
    </div>
    <div class = "form-group row">
        <div class = "offset-4 col-9">
            <button id="get" class = "btn btn-secondary"> Print customer</button>
        </div>
    </div>

    <h3 id="customers" ></h3>

<div class="row">
    <div class="offset-4 col-12">
        <table>
            <thead>
            <th class="col-4">First Name</th>
            <th class="col-4">Last Name</th>
            <th class="col-4">Action</th>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#submit").click(function(){
            var customerInfo = {
                active: parseInt($(".custom-control-input:checked").val()),
                firstName: $("#firstName").val(),
                lastName: $("#lastName").val(),
                gender: $("#gender").val()
            };
                var $customers = $('#customers');
                $.ajax({
                        type: 'POST',
                        url: '/api/v1/customers',
                        data: JSON.stringify(customerInfo),
                        contentType: "application/json; charset=utf-8",
                        success:function(customers){
                            $customers.append('Name ' + customers.firstName + ' added!!!');
                            //console.log("Come here ")
                        }
                    }
                )
        });
    });

</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#get").click(function(){
            var $customers = $('#customers');
            $.ajax({
                type:'GET',
                url: '/api/v1/customers',
                //data: JSON.stringify(customers),
                contentType: "application/json; charset=utf-8",
                success:function(customers){
                    $.each(customers, function(i, customer){
                        var Html="<tr> <td>"+customer.firstName+"</td> <td>"+customer.lastName+"</td> <td> <button id=\"get\" > Delete</button></td></tr>";
                        $('#tbody').append(Html);
                    });
                },
                error: function(xhr, status, error){
                    console.error("Error fetching customers: ", error);
                }
            });
        });
    });

    /*$(document).ready(function(){
    $("#print").click(function(){
        var $customers = $('#customers');
        $.ajax({
            type: 'UPDATE'
        })
    });
});*/

</script>
